@model CSI418Proj.Models.FieldMapping

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FieldMapping</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FieldNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FieldNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FieldName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FieldName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
