@model IEnumerable<CSI418Proj.Models.FieldMapping>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FieldNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FieldName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FieldNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FieldName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id })
        </td>
    </tr>
}

</table>
