@model CSI418Proj.Models.MappedFields

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MappedFields</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Field1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Field1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Field2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Field2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Field3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Field3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Field4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Field4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Field5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Field5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Field6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Field6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Field7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Field7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Field8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Field8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Field9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Field9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Field10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Field10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Field11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Field11)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FieldID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
